#timeline {
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    pointer-events: none;
    /*
    padding: 0px;
    background: #111111;
    border-style: groove;
    border-color: blue;
    */
}

#activity_view {
    border: 1px groove white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px 1% 45px 1%;  /* top, right, bottom, left */
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 9px;
    max-width: 47%;
    /* max-height: 50%; */
    overflow-y: auto;
}

.activity_view_header {
    text-align: center;
    font-size: 10px;
}

.activity_view_items {
    text-align: left;
    /* font-family: monospace; */
}

#blackboard_view {
    border: 1px groove white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0px 1% 45px 1%;  /* top, right, bottom, left */
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 9px;
    max-width: 47%;
    /* max-height: 50%; */
    overflow-y: auto;
}

.blackboard_view_header {
    text-align: center;
    font-size: 10px;
}

.blackboard_view_variables {
    text-align: left;
    /* font-family: monospace; */
}

.html-element {
    position: absolute;
    background: none;
    pointer-events: none;
    -webkit-user-select: none;
    z-index: 2;
    box-sizing: border-box;
    /*
    border: 1px groove red;
    */
}
.html-name {
    color: #f1f1f1;
    text-decoration: underline;
    font-size: 14px;
    font-family: 'serif';
    font-weight: normal;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    /* All four of these are necessary for eliding text */
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    /*
    background: green;
    */
}
.html-detail {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #f1f1f1;
    font-size: 10px;
    font-family: 'serif';
    /* All four of these are necessary for eliding text */
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    /*
    background: blue;
    */
}

.html-tooltip {
    display: none;
    position: absolute;
    top: 0px;
    border-radius: 8px;
    background: #333333;
    border: 1px solid #000000;
    z-index: 2;
    font-size: 10px;
    font-family: 'serif';
    color: #F1F1F1;
    padding: 0.5em;
    box-sizing: border-box;
    /*
    box-shadow: inset 0 0 5px black, 2px 2px 1px gray;
    box-sizing: border-box;
    padding: 5px;
    */
}
.html-tooltip div.id {
    display: block;
    text-align: center;
    /*
    border: 1px solid #1c87c9;
    */
}