[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
py-trees-js = {editable = true,path = "."}

[packages]
py-trees-js = {editable = true,path = "."}
pyqt5 = "*"
pyqtwebengine = "*"

[requires]
python_version = "3.6"
